/* Basic Resets */
* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

a {
    color: #FFF; /* White color for hyperlinks */
    text-decoration: none; /* Remove underlines by default */
    animation: blink 4s infinite alternate; /* Add blinking animation */
}
@keyframes blink {
    0% { color: rgb(255, 0, 0); }
    25% { color: rgb(0, 255, 0); }
    50% { color: rgb(0, 0, 255); }
    75% { color: rgb(255, 255, 0); }
    100% { color: rgb(255, 0, 255); }
}

a:visited {
    color: #c9dca4; /* White color for hyperlinks */
    text-decoration: none; /* Remove underlines by default */
    animation: blink 1s infinite alternate; /* Add blinking animation */
}

body, h1, h2, h3, p, ul, li, button {
    margin: 0;
    padding: 0;

	
}

h1, h2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s ease-in-out;
}

body {
    font-family: 'Lato', sans-serif; /* A modern font */
    color: #FFF;
    overflow-x: hidden;
    line-height: 1.6;
}


canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: rgba(0, 0, 0, 0.7);
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
}

#logo {
    font-size: 28px;
    font-weight: bold;
    color: #FFD700; /* Gold color for branding */
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #FFF;
    padding: 5px 10px;
    border-radius: 15px;
    transition: background 0.3s, color 0.3s;
}

nav a:hover {
    background: #4c00ff;
    color: #000;
}

main {
    max-width: 1200px;
    margin: 100px auto;
    padding: 0 20px;
}

#hero {
    text-align: center;
    margin-top: 50px;
    padding: 50px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
}

#hero h1 {
    font-size: 60px;
    margin-bottom: 20px;
}

#hero p {
    font-size: 20px;
    margin-bottom: 30px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

button {
    padding: 15px 30px;
    border: none;
    background: linear-gradient(45deg, #b43ad5, #7433a9);
    color: #000;
    cursor: pointer;
    border-radius: 50px;
    font-size: 18px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

button:hover {
    transform: translateY(-3px);
}


#universeContainer, #skyCanvas {
	overflow: hidden;
    width: 100vw;
    height: 100vh;
    position: relative;
    top: 0;
    left: 0;
}

.info-modal {
    display: none; /* Initially hidden */
    position: fixed; /* Fixed position */
    top: 0; /* Full height */
    left: 0; /* Full width */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    z-index: 1; /* Sit on top */
    background-color: rgba(155, 98, 176, 0.2); /* Black background with opacity */
    overflow: hidden;
    transition: background-color 0.5s ease-in-out;
}


.info-modal::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: -17px; /* Typically the width of a scrollbar */
    bottom: 0;
    z-index: 1;
    background: transparent;
    pointer-events: none; /* Ensure it doesn't interfere with content interactions */
}

.modal-content {
    /* ... other styles ... */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.close-btn {
    position: absolute;
    top: 2%;
    right: 5%;
    font-size: 30px;
    cursor: pointer;
    color: #fff;
    visibility: hidden;

}

.close-btn:hover {
    color: #ccc;
}

/* Keyframe animations */
@keyframes modalFadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Keyframe animations */
@keyframes modalFadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes modalSlideUp {
    from {
        transform: translateY(100px);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes modalZoomIn {
    from {
        transform: scale(0.2);
    }
    to {
        transform: scale(1);
    }
}

/* Add more styles as needed */


/* Add more styles as needed */


#color-picker {
    position: fixed;
    bottom: 20px;
    right: 20px;
 
    padding: 10px;
    border-radius: 5px;

    z-index: 3; /* Above the modal */
}

#url-preview {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px; /* Space between previews */
}

#url-preview a {
    /* Optional: Add some styling for the preview links */
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}

#url-preview a:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#url-preview img {
    width: 300px; /* Or your desired width */
    height: 200px; /* Or your desired height */
    object-fit: cover; /* To maintain aspect ratio */
}

.iframe-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

iframe {
    border: none;
}


@keyframes liftOff {
    0% {
      transform: translateY(30vh);
      opacity: 0;
    }
    80% {
      transform: translateY(-60vh);
      opacity: 1;
    }
    100% {
      transform: translateY(-80vh) scaleX(0.01) scaleY(0.01);
      opacity: 0;
    }
}

@keyframes starTrail {
    0% {
      transform: scaleX(1) scaleY(1);
      opacity: 0;
    }
    25% {
      opacity: 1;
    }
    75% {
      transform: scaleX(10) scaleY(0.001);
      opacity: 1;
    }
    100% {
      transform: scaleX(20) scaleY(0.001);
      opacity: 0;
    }
}



  p.liftOffText {
    position: absolute;
    bottom: 0;
    left: 0;
    animation: liftOff 15s forwards;
    font-size: 2rem;
    text-align: center;
    width: 100%;
  }

  .shootingStar {
    position: absolute;
    bottom: -10vh;
    left: 50%;
    height: 2px;
    width: 2px;
    background-color: #FFF;
    animation: starTrail 15s forwards;
    transform-origin: left center;
  }